In [1]:
# convert string to date [with year and quarter]
import pandas as pd


df = pd.DataFrame({'date':['2015Q1','2015Q2']})

In [2]:
# convert datetime to end-of-month:
df['date_index'] = pd.to_datetime(df.date) + pd.offsets.MonthEnd(0)

In [3]:
df['year'] = df['date_index'].dt.year 
df['quarter'] = df['date_index'].dt.quarter

In [4]:
df

     date date_index  year  quarter
0  2015Q1 2015-01-31  2015        1
1  2015Q2 2015-04-30  2015        2

In [5]:
# get ordered series (by index):
keys = [2, 4, 3, 1]
vals = ['d', 'a', 'c', 'b']
series = pd.Series(dict(zip(keys, vals)))
for x in series.iteritems():
    print(x)

(2, 'd')
(4, 'a')
(3, 'c')
(1, 'b')

In [6]:
series

2    d
4    a
3    c
1    b
dtype: object

In [7]:
dates = pd.date_range('2012', periods=12, freq='A')
val = [x for x in range(0, len(dates))]
s = pd.Series(index=dates,data=val)

In [8]:
s1 = s.resample('Q').bfill()/4
print(s1)

2012-12-31    0.00
2013-03-31    0.25
2013-06-30    0.25
2013-09-30    0.25
2013-12-31    0.25
2014-03-31    0.50
2014-06-30    0.50
2014-09-30    0.50
2014-12-31    0.50
2015-03-31    0.75
2015-06-30    0.75
2015-09-30    0.75
2015-12-31    0.75
2016-03-31    1.00
2016-06-30    1.00
2016-09-30    1.00
2016-12-31    1.00
2017-03-31    1.25
2017-06-30    1.25
2017-09-30    1.25
2017-12-31    1.25
2018-03-31    1.50
2018-06-30    1.50
2018-09-30    1.50
2018-12-31    1.50
2019-03-31    1.75
2019-06-30    1.75
2019-09-30    1.75
2019-12-31    1.75
2020-03-31    2.00
2020-06-30    2.00
2020-09-30    2.00
2020-12-31    2.00
2021-03-31    2.25
2021-06-30    2.25
2021-09-30    2.25
2021-12-31    2.25
2022-03-31    2.50
2022-06-30    2.50
2022-09-30    2.50
2022-12-31    2.50
2023-03-31    2.75
2023-06-30    2.75
2023-09-30    2.75
2023-12-31    2.75
Freq: Q-DEC, dtype: float64

In [9]:
s1

2012-12-31    0.00
2013-03-31    0.25
2013-06-30    0.25
2013-09-30    0.25
2013-12-31    0.25
2014-03-31    0.50
2014-06-30    0.50
2014-09-30    0.50
2014-12-31    0.50
2015-03-31    0.75
2015-06-30    0.75
2015-09-30    0.75
2015-12-31    0.75
2016-03-31    1.00
2016-06-30    1.00
2016-09-30    1.00
2016-12-31    1.00
2017-03-31    1.25
2017-06-30    1.25
2017-09-30    1.25
2017-12-31    1.25
2018-03-31    1.50
2018-06-30    1.50
2018-09-30    1.50
2018-12-31    1.50
2019-03-31    1.75
2019-06-30    1.75
2019-09-30    1.75
2019-12-31    1.75
2020-03-31    2.00
2020-06-30    2.00
2020-09-30    2.00
2020-12-31    2.00
2021-03-31    2.25
2021-06-30    2.25
2021-09-30    2.25
2021-12-31    2.25
2022-03-31    2.50
2022-06-30    2.50
2022-09-30    2.50
2022-12-31    2.50
2023-03-31    2.75
2023-06-30    2.75
2023-09-30    2.75
2023-12-31    2.75
Freq: Q-DEC, dtype: float64