In [1]:
# convert string to date [with year and quarter]
import pandas as pd


df = pd.DataFrame({'date':['2015Q1','2015Q2']})

In [2]:
# convert datetime to end-of-month:
df['date_index'] = pd.to_datetime(df.date) + pd.offsets.MonthEnd(0)

In [3]:
df['year'] = df['date_index'].dt.year 
df['quarter'] = df['date_index'].dt.quarter

In [4]:
df

     date date_index  year  quarter
0  2015Q1 2015-01-31  2015        1
1  2015Q2 2015-04-30  2015        2

In [5]:
# get ordered series (by index):
keys = [2, 4, 3, 1]
vals = ['d', 'a', 'c', 'b']
series = pd.Series(dict(zip(keys, vals)))
for x in series.iteritems():
    print(x)

(1, 'b')
(2, 'd')
(3, 'c')
(4, 'a')

In [6]:
series

1    b
2    d
3    c
4    a
dtype: object