In [1]:
import pandas as pd
import numpy as np

dates=pd.date_range('2017',periods = 16, freq = 'Q')
sigma, mu = 1, 0
dataseries=pd.Series(sigma * np.random.randn(16) + mu,index=dates)
df=pd.DataFrame({'Test':dataseries})
df.head()

                Test
2017-03-31  0.053956
2017-06-30  0.224500
2017-09-30 -0.468526
2017-12-31 -1.463937
2018-03-31  0.523060

In [2]:
s1 = df['Test']

In [3]:
def calculate_ratio(ts1, ts2):
    '''
    '''
    return ts1 / ts2


def calculate_difference(ts):
    '''
    '''
    return ts - ts.shift(1)

def calculate_transform(ts):
    '''
    '''
    return ts / ts.shift(1) - 1

def calculate_inverse_difference(ts, start): 
    '''
    '''
    vals = [start]*len(ts)  # init fixed size array
    for i in range(1, len(ts)):
        vals[i] = vals[i-1] + ts.iloc[i]
    return pd.Series(vals, ts.index)

def calculate_inverse_transform(ts, start): 
    '''
    '''
    vals = [start]*len(ts)  # init fixed size array
    for i in range(1, len(ts)):
        vals[i] = vals[i-1] * (1 + ts.iloc[i])
    return pd.Series(vals, ts.index)


def calculate_standarization(ts, mu, sigma): 
    '''
    '''
    return (ts - mu) / sigma

In [4]:
s2 = calculate_difference(s1)
start = s1.iloc[0]
s3 = calculate_inverse_difference(s2, start)
s4 = calculate_transform(s1)
s5 = calculate_inverse_transform(s4, start)
s6 = calculate_standarization(s1, mu, sigma)

In [5]:
s1

2017-03-31    0.053956
2017-06-30    0.224500
2017-09-30   -0.468526
2017-12-31   -1.463937
2018-03-31    0.523060
2018-06-30   -1.041680
2018-09-30   -0.505972
2018-12-31    2.628230
2019-03-31    0.886323
2019-06-30   -1.676632
2019-09-30    0.095544
2019-12-31    0.145623
2020-03-31   -0.475038
2020-06-30   -0.050150
2020-09-30    1.927662
2020-12-31   -0.772882
Freq: Q-DEC, Name: Test, dtype: float64

In [6]:
s2

2017-03-31         NaN
2017-06-30    0.170544
2017-09-30   -0.693026
2017-12-31   -0.995411
2018-03-31    1.986996
2018-06-30   -1.564740
2018-09-30    0.535708
2018-12-31    3.134202
2019-03-31   -1.741907
2019-06-30   -2.562955
2019-09-30    1.772176
2019-12-31    0.050080
2020-03-31   -0.620661
2020-06-30    0.424888
2020-09-30    1.977812
2020-12-31   -2.700544
Freq: Q-DEC, Name: Test, dtype: float64

In [7]:
s3

2017-03-31    0.053956
2017-06-30    0.224500
2017-09-30   -0.468526
2017-12-31   -1.463937
2018-03-31    0.523060
2018-06-30   -1.041680
2018-09-30   -0.505972
2018-12-31    2.628230
2019-03-31    0.886323
2019-06-30   -1.676632
2019-09-30    0.095544
2019-12-31    0.145623
2020-03-31   -0.475038
2020-06-30   -0.050150
2020-09-30    1.927662
2020-12-31   -0.772882
Freq: Q-DEC, dtype: float64

In [8]:
s4

2017-03-31          NaN
2017-06-30     3.160790
2017-09-30    -3.086971
2017-12-31     2.124558
2018-03-31    -1.357297
2018-06-30    -2.991513
2018-09-30    -0.514273
2018-12-31    -6.194417
2019-03-31    -0.662768
2019-06-30    -2.891673
2019-09-30    -1.056986
2019-12-31     0.524153
2020-03-31    -4.262098
2020-06-30    -0.894430
2020-09-30   -39.438230
2020-12-31    -1.400943
Freq: Q-DEC, Name: Test, dtype: float64

In [9]:
s5

2017-03-31    0.053956
2017-06-30    0.224500
2017-09-30   -0.468526
2017-12-31   -1.463937
2018-03-31    0.523060
2018-06-30   -1.041680
2018-09-30   -0.505972
2018-12-31    2.628230
2019-03-31    0.886323
2019-06-30   -1.676632
2019-09-30    0.095544
2019-12-31    0.145623
2020-03-31   -0.475038
2020-06-30   -0.050150
2020-09-30    1.927662
2020-12-31   -0.772882
Freq: Q-DEC, dtype: float64

In [10]:
s6

2017-03-31    0.053956
2017-06-30    0.224500
2017-09-30   -0.468526
2017-12-31   -1.463937
2018-03-31    0.523060
2018-06-30   -1.041680
2018-09-30   -0.505972
2018-12-31    2.628230
2019-03-31    0.886323
2019-06-30   -1.676632
2019-09-30    0.095544
2019-12-31    0.145623
2020-03-31   -0.475038
2020-06-30   -0.050150
2020-09-30    1.927662
2020-12-31   -0.772882
Freq: Q-DEC, Name: Test, dtype: float64

In [11]:
s1

2017-03-31    0.053956
2017-06-30    0.224500
2017-09-30   -0.468526
2017-12-31   -1.463937
2018-03-31    0.523060
2018-06-30   -1.041680
2018-09-30   -0.505972
2018-12-31    2.628230
2019-03-31    0.886323
2019-06-30   -1.676632
2019-09-30    0.095544
2019-12-31    0.145623
2020-03-31   -0.475038
2020-06-30   -0.050150
2020-09-30    1.927662
2020-12-31   -0.772882
Freq: Q-DEC, Name: Test, dtype: float64

In [17]:
dates=pd.date_range('2017',periods = 16, freq = 'Q')
sigma, mu = 1, 0
dataseries=pd.Series([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4],index=dates)
df=pd.DataFrame({'Test':dataseries})
df['Type'] = [0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
df

            Test  Type
2017-03-31     1     0
2017-06-30     1     0
2017-09-30     1     0
2017-12-31     1     0
2018-03-31     2     1
2018-06-30     2     1
2018-09-30     2     1
2018-12-31     2     1
2019-03-31     3     1
2019-06-30     3     1
2019-09-30     3     1
2019-12-31     3     1
2020-03-31     4     1
2020-06-30     4     1
2020-09-30     4     1
2020-12-31     4     1

In [13]:
# Q4 base:
series = df['Test']
series.resample('A-DEC').sum()[1:4]

2018-12-31     8
2019-12-31    12
2020-12-31    16
Freq: A-DEC, Name: Test, dtype: int64

In [14]:
# Q4 base:
series = df['Test']
series.resample('A-DEC').mean()[1:4]

2018-12-31    2
2019-12-31    3
2020-12-31    4
Freq: A-DEC, Name: Test, dtype: int64

In [15]:
# Q1 base:
series = df['Test']
series.resample('A-MAR').sum()[1:4]

2018-03-31     5
2019-03-31     9
2020-03-31    13
Freq: A-MAR, Name: Test, dtype: int64

In [16]:
# Q1 base:
series = df['Test']
series.resample('A-MAR').mean()[1:4]

2018-03-31    1.25
2019-03-31    2.25
2020-03-31    3.25
Freq: A-MAR, Name: Test, dtype: float64